main .hero {
  background-image: url("../../../img/main.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: clamp(420px, 55vw, 800px);
  position: relative;
}
main .hero__content {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 8vw, 125px);
  max-width: 951px;
  width: 100%;
  padding-top: clamp(60px, 6vw, 120px);
  padding-bottom: 10px;
}
main .hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  max-width: 380px;
  height: clamp(50px, 4vw, 82px);
  background-color: var(--color-primary);
  color: var(--color-button);
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 700;
}
main .service {
  margin: 80px 0;
}
main .service__title {
  margin-bottom: clamp(40px, 4vw, 90px);
}
main .service .service-slider .splide__arrow {
  width: clamp(20px, 3vw, 40px);
  height: clamp(20px, 3vw, 40px);
  background: transparent;
  opacity: 1;
}
main .service .service-slider .splide__arrow svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}
main .service .service-slider .splide__arrow:hover svg {
  fill: #808080;
}
main .service .service-card {
  max-width: 1350px;
  width: 100%;
  padding: clamp(20px, 3vw, 32px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(24px, 5vw, 70px);
}
main .service .service-card__text {
  flex: 0 1 550px;
  max-width: 550px;
  width: 100%;
}
main .service .service-card__text h2 {
  margin: 0;
}
main .service .service-card__image {
  flex: 0 1 800px;
  max-width: 800px;
  width: 100%;
}
main .service .service-card__image img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
main .service .about-work__title {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 1.5vw, 20px);
  margin-bottom: clamp(20px, 4vw, 80px);
}
main .service .about-work .cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main .service .about-work .cards-wrapper .card {
  display: flex;
  flex-direction: column;
}
main .service .about-work .cards-wrapper .card__image img {
  max-width: 40px;
  width: 100%;
}

@media (max-width: 500px) {
  main .hero {
    height: 100%;
    background-image: url("../../../img/mainMob.png");
  }
  main .hero__content {
    padding-top: 60%;
  }
  main .service {
    margin-top: 20px;
  }
  main .service__title {
    margin-bottom: 30px;
  }
  main .service .service-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
  }
  main .service .service-card__image {
    order: 1;
    flex: none;
    max-width: 320px;
    width: 100%;
  }
  main .service .service-card__image img {
    max-width: 320px;
    width: 100%;
  }
  main .service .service-card__text {
    order: 2;
    flex: none;
    max-width: 100%;
    width: 100%;
  }
  main .service .service-card__text h2 {
    margin: 0;
  }
}/*# sourceMappingURL=front-page.css.map */