.single-project {
    &__hero {
        padding: 80px 0 10px;
    }

    &__back {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        min-height: 46px;


        border-radius: 4px;

        text-decoration: none;
        color: #fff;
        font-family: var(--font-family);

        &:hover {
            color: #ffae34;
        }

    }

    &__title {
        max-width: 960px;
        margin: 0 0 20px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(24px, 3vw, 32px);
        color: #fff;
    }

    &__main-image {
        max-width: 1000px;
        max-height: 620px;
        overflow: hidden;

        border-radius: 15px;
    }

    &__image {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    &__content-section {
        padding: 10px 0 20px;
    }

    &__content {
        max-width: 960px;

        p {
            margin: 0 0 24px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: clamp(18px, 1.5vw, 24px);
            color: #fff;
        }

        h2,
        h3 {
            margin: 56px 0 24px;
        }

        ul,
        ol {
            margin: 0 0 32px;
            padding-left: 24px;
        }

        li {
            margin-bottom: 10px;
        }

          .wp-block-gallery {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;

            margin: 56px 0;
        }

        .wp-block-gallery .wp-block-image {
            flex: 1 1 280px;
            max-width: 100%;
            margin: 0;
        }

        .wp-block-gallery .wp-block-image img {
            width: 100%;
            height: 260px;
            display: block;

            object-fit: cover;
            object-position: center;
            border-radius: 15px;
        }
    }
}

@media (max-width: 768px) {
    .single-project {
        &__hero {
            padding: 10px 0 10px;
        }

        &__title {
            margin-bottom: 0;
        }

        &__content-section {
            padding: 30px 0 100px;
        }

        &__content {
            .wp-block-gallery {
                margin: 36px 0;
            }
        }
    }
}