@import "variables.css";
@import "utilities.css";

body {
    font-family: 'Oswald', sans-serif;
    background-color: #141411;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-inline: auto;
}

@media (max-width: 500px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
