@import "variables.css";
@import "utilities.css";

body {
    font-family: 'Oswald', sans-serif;
    background-color: #141411;
    margin: 0 auto;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    width: min(1500px, calc(100% - 40px));
    margin-inline: auto;
}

@media (max-width: 500px) {
    .container {
        width: min(500px, calc(100% - 10px));
    }
}

