:root {
    /* основыне цвета*/
    --color-primary: #fff;
    --color-secondary: #c1c1c1;
    --color-button: #141411;
    --color-hover: #ffae34;
    /*размеры текста*/
    --size-title: clamp(18px, 4vw, 62px);
    --size-title-h2: clamp(18px, 2vw, 42px);
    --size-description:clamp(14px, 2vw, 28px);
    --size-description-card:clamp(14px, 1.5vw, 18px);
    --size-secondary:clamp(16px, 2vw,24px);
    --size-button: clamp(14px, 2vw, 20px);
    --size-slider: clamp(16px, 3vw, 42px);
    --size-smal: clamp(18px, 2vw, 20px); /*размер шрифта для текста меню*/
    /*font-weight*/
    --weight-title:700;
    --weight-menu:500;
    --weight-base:400;
    
    /* шрифт*/
    --font-family: 'Oswald', sans-serif;
}